*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline:none;
}


i{
    margin-right: 50px;
    width: 20px;
}
.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 50%;

}

.note{
    background-color: rgb(228, 109, 109);
    margin: 30px 20px;
    width: 300px;
    display: inline-block;
    height: 200px;
    overflow-y: scroll;
    /* margin-top: 7rem; */
    box-shadow: inset 1 px 1px 0 rgba(0,0,0,0.1),
      inset 0 -1px 0 rgba(0,0,0,0.1);
    
}
.note textarea{
    outline:none;
    font-family: inherit;
    font-size: 18px;
    border: none;
    height: 100%;
    width: 100%;
    padding: 15px;
}
.operation{
    
    display: flex;
    justify-content: flex-end;
    background-color: rgb(180, 147, 26);
}

.main{
    
    font-size: 18px;
   word-wrap: break-word;
    
    padding: 20px;
    
    
    
    
}




.hidden{
    display: none;
}



